body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: var(--primary-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 97%;
    height: 97%;
    border: 2px solid rgb(255, 0, 0);
    display: flex;
}

.navbar {
    width: 200px;
    height: 100%;
    /* background-color: rgb(173, 173, 154); */
}

.navbar__element-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 0.25rem;
}

.navbar__item {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-background-color);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    font-size: larger;
}

.navbar__item--active {
    background-color: whitesmoke;
}

.speechboard {
    background-color: whitesmoke;
    width: 100%;
}

.speechboard__container{
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
}

.speechboard__item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: salmon;
    border: 1 solid black;
    border-radius: 1rem;
}

.speechboard__item:hover{
    background-color: lightgreen;
}