:root {
    --color-primary-light: whitesmoke;
    --color-background: rgb(238, 234, 230);

    --padding-extra-small: 0.25rem;
    --padding-small: 0.5rem;
    --padding-medium: 1rem;
    --padding-large: 2rem;
    --padding-extra-large: 4rem;

}
