:root {
    --primary-light-color: whitesmoke;
    --primary-background-color: rgb(33, 33, 33);
    --secondary-background-color: rgb(132, 132, 132);
    --emily-color: rgb(243, 242, 242);

    --padding-extra-small: 0.25rem;
    --padding-small: 0.5rem;
    --padding-medium: 1rem;
    --padding-large: 2rem;
    --padding-extra-large: 4rem;

}
